*{
  padding: 0%;
  margin: 0%;
}
html, body{
  background: url("img.png") no-repeat;
  background-size: contain;
  background-position: right;
  background-size: 40%;
  background-color: black;
  height: 100%;
  font-size: 4vh ;
  font-family: 'Josefin Sans', sans-serif;
  
}
h1{
  color: white;
  /* margin-top: 50px; */
  transition: .5s;
  font-weight: 150;
}
a{
  color: white;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 10px;
}
h5{
  transition: .5s;
}
h5:hover, a:hover{
text-decoration: none;
color:black ;
}

h1:hover{
  color: red;
  text-decoration: none;
  scale:1.2;
}
.container1{
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-top: 0%;
}
.navbar{
  height: 10%;
}
.desc{
  margin-left: 0;
  margin-top: 0%;
}

@media only screen and (max-width: 600px) {
  html, body{
    
    background-color: black;
    font-size: 2vh;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size-adjust: initial;
  }
  .container1{
    background-image: url(img.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 85%;
    width: 40%;
  }
  #logo{
    float: right;
  }
  h1,a{
    font-size: 1rem;
  }
}
p{
  color: white;
}
#logo{
  margin: 0%;
  width: 3rem;
  height: 3rem;
  border-bottom: 5px solid rgb(47, 31, 139);
  box-shadow: 2px 2px rgb(47, 31, 139) ;
}
h5{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}