*{
  margin: 0%;
  padding: 0%;
}
html, body{
  height: 100%;
  font-size: 1.5em;
  background-color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: white;
  margin: 50px;
  justify-content: center; 
  font-weight: 170;
  animation: 1s ease-out 0s 1 slideFromTop;
}
p{
  color: white;
  font-size: .5em;
  padding-left: 5%;
  padding-bottom: 30px;
  font-weight: 150;
}
h3{
  color: white;
  padding-left: 5%;
  padding-bottom: 30px;
  font-weight: 150;
}
 h4{
  color: rgb(83, 31, 182);
  font-size: .7em;
  padding-left: 5%;
  padding-bottom: 30px;
  font-weight: 150;
}
a{
  text-decoration: none;
  color: rgb(83, 31, 182);
}
footer{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
#logo{
  margin: 5px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: -1px 2px 5px rgb(47, 31, 139) ;
  transition: .5s;
}
#logo:hover{
  transform: scale(1.05);
}
nav{
  height: 5%;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 600px) {
  footer{
    font-size: large;
    display: flex;
    flex-direction: row;
    align-items: space-around;
  }  
}
@keyframes slideFromTop {
  0% {
    transform: translateY(-1000%);
  }
  100% {
    transform: translate(0);
  }
}