*{
  padding: 0%;
  margin: 0%;
}
html, body{
  background-color: black;
  height: 100%;
  font-size: 4vh ;
  padding-bottom: 5%;
  font-family: 'Nanum Gothic', sans-serif;
}
h1{
  color: white;
  clear: right;
  margin: 20px;
  font-weight: 150;
  animation: .5s ease-out 0s 1 slideInFromLeft;
}
section{
  padding-right: 2%;
  padding-bottom: 5%;
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

#logo{
  margin: 5px;
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: -1px 2px 5px rgb(47, 31, 139) ;
  transition: .5s;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
#logo:hover{
  transform: scale(1.05);
}
nav{
  height: 5%;
  position: fixed;
  top: 0;
  width: 100%;
}
h3{
  color: rgb(107, 46, 221);
  padding: 20px;
  margin-bottom: 0%;
  font-weight: 200;
}
p{
  color: white;
  margin: 20px;
  margin-top: 0px;
  width: 100%;
}
.project{
  width: 90%;
  margin: 5%;
  margin-right: 10%;
  height: 25%;
  display: flex;
  flex-direction: row;
  box-shadow:-3px 2px 5px rgb(59, 44, 143) ;
  border-radius: 2%;
  transition: 1s;
  margin-bottom: 5%;
}
.project:hover{
  transform: scale(1.05);
}
img{
  height: 100%;
  width: 30%;
  float: right;
}
@keyframes slideInFromright{
  0% {
    transform: translate(10%);
  }
  50%{
    transform: translate(+10%);
  }
  100% {
    transform: translateX(0);
  }
}

.contain{
    width: 70%;
    height: 100%;
}
a{
  text-decoration: none;
}
.right{
  animation: .5s ease-out 0s 1 slideInFromright;
}
.left{
  animation: .5s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromright{
  0% {
    transform: translate(10%);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 400px) {
  #logo{
    float: right;
    margin-right: 5%;
  }
  body,html{
    padding-left: 2%;
    font-size: large;
    padding-right: 2%;
  }
  /* .navbar{
    height: 10%;
    margin-bottom: 10px;
    margin-right: 20px;
  } */
  h1{
    font-size: larger;
      margin-top: 10%;
  }
  .project{
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  
  body,html{
    padding-left: 2%;
    font-size: large;
  }
  /* .navbar{
    height: 10%;
    margin-bottom: 10px;
  } */
  h1{
    font-size: larger;
    margin-top: 10%;
  }
  .project{
    width: 80%;
  }
}



